# Compiled object files:
*.o
*.a

# Temporary files: (the ones that end with tilde)
*~

# Folders:
Report/*
old_project_structure/*
libBGLgeom/doc/*
libBGLgeom/obj/*
libBGLgeom/test/*
libBGLgeom/lib/*
libBGLgeom/data/*
fracture_intersection/doc/*
fracture_intersection/obj/*
fracture_intersection/bin/*
fracture_intersection/test/*
fracture_intersection/data/*.pts
fracture_intersection/data/*.vtp
network_diffusion/doc/*
network_diffusion/obj/*
network_diffusion/bin/*
network_diffucion/test/*
network_diffusion/data/
