
# Bash scripts:
*.sh

# Compiled object files:
*.o
*.a

# Temporary files: (the ones that end with tilde)
*~

# Folders:
old_project_structure/*
libBGLgeom/doc/*
libBGLgeom/obj/*
libBGLgeom/test/*
libBGLgeom/lib/*
libBGLgeom/prova_lib/*
libBGLgeom/bspline_curve/*
fracture_intersection/doc/*
fracture_intersection/obj/*
fracture_intersection/bin/*
network_diffusion/doc/*
network_diffusion/obj/*
network_diffusion/bin/*
